body {
    background:#2c3e50;
}


.container {
    position: absolute;
    top: 30%;
    left: 45%;
    width:400px;
    height:400px;
    margin: -150px 0 0 -150px;

}


.container h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;
 font-family: 'Lobster', helvetica, arial;}

input  {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border-color: #ffffff;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}


.button {
    position:relative;
    float:left;
    width:105px;

    margin-top:10px;
    background:#3498db;
    margin-right: 10px;
    margin-left: 15px;
    color:#fff;
    font-weight:bold;
    font-size: 16px;
    text-shadow:1px 1px 0px #2d7baf;



}

.footer {
    position: relative;
    top: 70%;
    left: 45%;
    margin: -150px 0 0 -130px;
    width:400px;
    height:45px;
    color: #ffffff;
    font-family: 'Lobster', helvetica, arial;
    font-size: 17px;

}

.profilePic{
    width: 100%;
    height: 250px;
    border-width: 5px;

}


.radio-toolbar{
    height: 100px;
    width: 103%;
    padding: 20px 5px 5px 5px;
    border-width:2px;
    margin-bottom: 1px;
    background: rgba(0,0,0,0.3);
    border-color: #ffffff;

}

.radio-toolbar-1{
    height: 200px;
    width: 103%;
    padding: 15px 5px 5px 5px;
    border-width:2px;
    margin-bottom: 1px;
    margin-right: 3px;
    background: rgba(0,0,0,0.3);
    border-color: #ffffff;

}

.radio-toolbar-1 label{

    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    margin-top: 0;
}


.radio-toolbar input[type="radio"] {

    float: left;
    width: 25px;
    margin-top: 5px;
    margin-right:2px;
    margin-left: 10px;
    height: 22px;
}

.radio-toolbar input[type="checkbox"] {

    float: left;
    width: 25px;
    margin-top: 5px;
    margin-right:2px;
    margin-left: 10px;
    height: 22px;
}

.radio-toolbar label {
    height: 40px;
    width: 42%;
    padding:10px 10px;
    font-family:Arial;
    font-size:20px;
    color: #ffffff;
    margin:  5px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}





